<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>HomeJobMarketPlace3</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
    <servlet>
 <servlet-name>springrest</servlet-name>
 <servlet-class>
  org.springframework.web.servlet.DispatcherServlet
 </servlet-class>
 <load-on-startup>1</load-on-startup>
</servlet>

<servlet-mapping>
 <servlet-name>springrest</servlet-name>
 <url-pattern>/</url-pattern>
</servlet-mapping>
  
  
  
  <servlet>
    <servlet-name>actionservlet</servlet-name>
    <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/struts-config.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>actionservlet</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/error404.jsp</location>
  </error-page>
  <filter>
    <filter-name>loginAuth</filter-name>
    <filter-class>com.hmj.filter.LoginAuthFilter</filter-class>
  </filter>
  
  <filter>
    <filter-name>SeekerFilter</filter-name>
    <filter-class>com.hmj.filter.SeekerFilter</filter-class>
  </filter>
    <filter>
    <filter-name>SitterFilter</filter-name>
    <filter-class>com.hmj.filter.SitterFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>loginAuth</filter-name>
    <url-pattern>/login.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>loginAuth</filter-name>
    <url-pattern>/seeker.do</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>loginAuth</filter-name>
    <url-pattern>/sitter.do</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SeekerFilter</filter-name>
    <url-pattern>/createJob.do</url-pattern>
     <url-pattern>/deleteJob.do</url-pattern>
      <url-pattern>/updateJob.do</url-pattern>
      <url-pattern>/ViewProfile.do</url-pattern>
      <url-pattern>/deleteSeeker.do</url-pattern>
  </filter-mapping>
  
   <filter-mapping>
    <filter-name>SitterFilter</filter-name>
    <url-pattern>/applyNewJob.do</url-pattern>
     <url-pattern>/deleteJobApp.do</url-pattern>
     <url-pattern>/listOfJobs.do</url-pattern>
     <url-pattern>/ViewProfileSitter.do</url-pattern>
  </filter-mapping>
 
</web-app>